.Promise-section{
    /* background-color: #111827; */
    /* background: linear-gradient(to right, #2563EB, #1E3A8A, #4F46E5); */
    background: linear-gradient(to right, #1E3A8A, #162B69, #0F1E4D); /* Darker Gradient */
    padding-top: 40px;
    padding-bottom: 30px;
}
.Promises{
    background-color: #EFF6FF;
    height: 200px;
    width: 800px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", serif;
    transform: translateX(35%);
    padding: 20px 40px;
}
.Promises .left-sec, .right-sec{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.main-Text{
    color: #2563EB;
    margin-bottom:10px;
}
.sub-Text{
    font-size: 14px;
    color: #4B5563;
    text-align: center;
}
.icon{
    color: #2563EB;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}