.nav-bar{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    overflow-x: hidden;
}
.nav-bar .logo{
    width: 65px;
    height: 50px;
    border-radius: 10%;
    margin-top: 4px;
}
.nav-bar .nav-links{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 55px; */
}
.nav-bar .nav-links li{
    margin-left: 25px ;
}
.nav-bar .nav-links li .nav-link{
    text-decoration: none;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #4B5563;
    font-size: 14px;
    transition: .3s;
}
.nav-bar .nav-links li .nav-link:hover{
    color: #2563EB;
}
.nav-bar .nav-links li .nav-link:active{
    color: #2563EB;
}
.nav-bar .nav-links li .nav-link::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
    background-color: #2563EB;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.nav-bar .nav-links li .nav-link:hover::after{
    opacity: 1;
}